@import url('https://fonts.googleapis.com/css2?family=Anton&family=Emblema+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Pacifico&family=Palanquin+Dark:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     font-weight: 700;
     font-style: normal;
     
}
 html , body {
    height:100%;
    width: 100%;
    background-color: orangered;
    text-align: center;
    
 }

 .Header{
    width: 100%;
    background-color: bisque;

 }

 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;
    font-size: 25px;
   
 }

 input {
    margin: 20px;
    font-size: 25px;
    padding-left: 20px;
    outline: none;
    border: none;
    border-radius: 10px;

 }

 input:focus{
    outline: none;
    border: none;
 }

button{
background-color: rgb(231, 221, 221);
color: black;
padding: 10px 15px;
border-radius: 10px;
outline: none;
border: none;
width: 150px;
}

button:hover{
    background-color: white;
}


.BLC{
   width: 90%;
   border: 2px solid black;
   padding: 2px;
   display: flex;
   justify-content:space-between;
   align-items: center;
   padding: 10px;
   margin: 10px;
}


